<a asp-controller="Songs" asp-action="Index">Songs</a>
<a asp-controller="Songs" asp-action="Albums">Albums</a>
<a asp-controller="Concert" asp-action="Register" asp-route-city="new-orleans">Register</a>