@model COMP003B.Assignment4_1.Models.Song

<div class="card mb-3">
    <div class="card-body">
        <h4>@Model.Title</h4>
        <p>@Model.Album</p>
        <p>@Model.Description</p>
        <p>@Model.Year</p>
    </div>
</div>