@model COMP003B.Assignment4_1.Models.ConcertRegistration
@{
    ViewData["Title"] = "Confirmation";
}

<h2>Confirmation</h2>
<p>Name: @Model.FullName</p>
<p>City: @Model.City</p>
<p>Tickets: @Model.TicketCount</p>
